.brackets-viewer {
    background: rgba(71, 73, 71, 0.75);
    background: none;
    padding: 0;
}

.brackets-viewer h1 {
    font-weight: bold;
    color: black;
    margin-top: 1rem;
}

.brackets-viewer .bracket h2 {
    color: black;
}

.brackets-viewer h3 {
    font-size: 1rem;
    background:rgba(71, 73, 71, 0.75);
    color: white;
    width: 150px;
}

.participant {
    border: 1px solid black;
}

.rounds .round {
    margin: 0;
    width: 160px;
}