.landing {
    width: 100vw;
    padding: 25px;
    box-sizing: border-box;
    text-align: left;
}

.landing .diptych {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.diptych img {
    width: 100%;
    object-fit: contain;
}

.landing p {
    font-size: 73px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
}

.landing a, .landing i  {
    color: white;
}

.landing a {
    min-width: 300px;
}

.landing a:hover {
    color: white;
    background: black;
}

.landing a:hover {
    cursor: pointer;
    color: white;
}

.landing hr {
    border: solid 3px white;
}

.landing .right {
    text-align: right;
}

.lentil-div {
    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .float {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
  }

  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .parallax::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .parallax__layer--base {
    transform: translateZ(0);
  }

  .parallax__layer--back {
    transform: translateZ(-1px);
  }

  .done {
      z-index: 100;
  }

  .dtwo {
      margin-top: -300px;
  }

  .dthree {
    margin-top: -100px;
      z-index: -100;
      position: relative;
  }

  .mobile {
      display: none;
  }

  .info2 ul {
      background: black;
      color: white;
      position: absolute;
      right: 25px;
      width: 300px;
      font-size: 1rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: -65px;
  } 

  .info2 a {
      color: purple;
  }

  @media (max-width: 800px){
    .diptych {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-hide {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

    .landing a p {
        min-width: 300px;
        font-size: 2rem;
        background: black;
        margin: 5px;
        text-align: center;
    }

    .right {
        text-align: center;
    }

    .diptych img {
        height: 50vh;
        object-fit: cover;
    }

    .dthree {
        margin: 0;
    }

    .float img {
        width: 25%;
    }
  }