.App {
  text-align: center;
}

.brackets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.bracket-panel {
  border: solid purple;
  border: 1px solid gray;
  margin: 3px;
  border-radius: 7px;
  background-origin: border-box;
  padding: 15px;
}

.round {
  width: 175px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: solid yellow; */
}

.pair {
  margin: 5px;
  width: 75%;
  border: 1px solid gray;
  text-align: left;
  padding-left: 5px;
}

.space {
  height: 25px;
  /* background: pink; */
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 1500px){
  .display {
    flex-direction: column;
  }
  .championship {
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.heading, .heading2, .heading3 {
  background: lightblue;
  padding: 3px 0;
}

.heading2 {
  background: palevioletred;
}

.heading3 {
  background: plum;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 100px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

nav {
  padding: 25px;
  display: flex;
}

nav h2 {
  margin: 0 5px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.teams {
  columns: 2;
  width: 35vw;
  margin: 0 auto;
}

i:hover {
  cursor: pointer;
  color: purple;
}

.team-info {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 250px;
  border: 1px solid lightblue;
  border-radius: 7px;
  padding: 15px;
}

.seed {
  font-size: 1rem;
  background: plum;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.inline {
  display: inline-block;
  margin: 2px;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style-position: inside;
  text-align: left;
  margin: 0;
  padding-left: 10px;
}

.game {
  display: flex;
  align-items: center;
}

.triangle, .arrow {
  height: 50px;
  width: 15px;
  letter-spacing: -4px;
}

.arrow {
  letter-spacing: -6px;
}

.space-col {
  /* background: gray; */
  width: 25px;
  font-size: 2.5rem;
  font-family: arial;
}

em {
  color: lightgray;
}

.team-name h2:hover {
  color: purple;
  cursor: pointer;
}

h1 {
  margin: 0;
}

p {
  margin-top: 0;
}

.gray {
  background: lightgray;
  border-radius: 3px;
  right: 5px;
}

.team {
  width: calc(100px);
}

.large-logo {
  font-size: 1.5rem;
  margin-left: 5px;
}

.modal {
  height: 70vh;
  width: 50vw;
  position: fixed;
  top: 100px;
  left: 25vw;
  background: white;
  padding-top: 50px;
  border: 1px solid gray;
  background: white;
  border-radius: 7px;
  text-align: left;
  padding-left: 50px;
}

.modal ul {
  text-align: left;
}

.fa-times {
  font-size: 2rem;
  margin-left: 15px;
  float: right;
  margin-right: 50px;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.civs {
  flex-wrap: wrap;
}

.civ {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  justify-content: flex-end;
  border-radius: 7px;
  flex-direction: column;
  background-image: url('/src/assets/civs/britons.png');
  background-size: contain;
}

.civ:hover {
  opacity: .8;
  cursor: pointer;
}

img {
  height: 100%;
}

.civ p {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  font-size: 1.25rem;
  padding: 0;
}

#x {
  color: red;
  font-size: 5.5rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  margin-bottom: -25px;
}

.rulebook {
  border: 1px solid gray;
  width: 75vw;
  margin: 0 auto;
  border-radius: 7px;
  text-align: left;
  padding: 50px;
}

.rulebook h2 {
  margin-bottom: 0;
}

.purple {
  color: blue;
  text-decoration: underline;
}

.fa-external-link-alt {
  margin-left: 5px;
}

.fa-external-link-alt:hover {
  color: black;
  cursor: default;
}

.team-logo {
  height: 100px;
  width: 100px;
  border-radius: 7px;
  border: 1px solid gray;
  margin-right: 15px;
  object-fit: cover;
}

.team-header {
  display: flex;
  align-items: center;
}