.Aztecs {
    background-image: url('/src/assets/civs/aztecs.png');
  }

.Berbers {
    background-image: url('/src/assets/civs/berbers.png');
  }

.Britons {
    background-image: url('/src/assets/civs/britons.png');
  }

.Byzantines {
    background-image: url('/src/assets/civs/byzantines.png');
  }

.Bulgarians {
    background-image: url('/src/assets/civs/bulgarians.png');
  }

.Burmese {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Celts {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Chinese{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Cumans{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Ethiopians{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Franks{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Goths{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Huns{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Incas{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Indians{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Japanese{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Khmer{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Koreans{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Lithuanians{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Magyars{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Malay{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Malians{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Mayans{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Mongols{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Persians{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Saracens{
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Slavs {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Spanish {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Tatars {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Teutons {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Turks {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Vietnamese {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Vikings {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Italians {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}

.Portuguese {
    background-image: url('/src/assets/civs/flemish.png');
    opacity: .5;
}