.Aztecs {
    background-image: url('/src/assets/civs/aztecs.png');
  }

.Berbers {
    background-image: url('/src/assets/civs/berbers.png');
  }

.Britons {
    background-image: url('/src/assets/civs/britons.png');
  }

.Byzantines {
    background-image: url('/src/assets/civs/byzantines.png');
  }

.Bulgarians {
    background-image: url('/src/assets/civs/bulgarians.png');
  }

.Burmese {
    background-image: url('/src/assets/civs/burmese.png');
}

.Celts {
    background-image: url('/src/assets/civs/celts.png');
}

.Chinese{
    background-image: url('/src/assets/civs/chinese.png');
}

.Cumans{
    background-image: url('/src/assets/civs/cumans.png');
}

.Ethiopians{
    background-image: url('/src/assets/civs/ethiopians.png');
}

.Franks{
    background-image: url('/src/assets/civs/franks.png');
}

.Goths{
    background-image: url('/src/assets/civs/goths.png');
}

.Huns{
    background-image: url('/src/assets/civs/huns.png');
}

.Incas{
    background-image: url('/src/assets/civs/incas.png');
}

.Indians{
    background-image: url('/src/assets/civs/indians.png');
}

.Japanese{
    background-image: url('/src/assets/civs/japanese.png');
}

.Khmer{
    background-image: url('/src/assets/civs/khmer.png');
}

.Koreans{
    background-image: url('/src/assets/civs/koreans.png');
}

.Lithuanians{
    background-image: url('/src/assets/civs/lith.png');
}

.Magyars{
    background-image: url('/src/assets/civs/magyars.png');
}

.Malay{
    background-image: url('/src/assets/civs/malay.png');
}

.Malians{
    background-image: url('/src/assets/civs/malians.png');
}

.Mayans{
    background-image: url('/src/assets/civs/mayans.png');
}

.Mongols{
    background-image: url('/src/assets/civs/mongols.png');
}

.Persians{
    background-image: url('/src/assets/civs/persians.png');
}

.Saracens{
    background-image: url('/src/assets/civs/saracens.png');
}

.Slavs {
    background-image: url('/src/assets/civs/slavs.png');
}

.Spanish {
    background-image: url('/src/assets/civs/spanish.png');
}

.Tatars {
    background-image: url('/src/assets/civs/tatars.png');
}

.Teutons {
    background-image: url('/src/assets/civs/teutons.png');
}

.Turks {
    background-image: url('/src/assets/civs/turks.png');
}

.Vietnamese {
    background-image: url('/src/assets/civs/vietnamese.png');
}

.Vikings {
    background-image: url('/src/assets/civs/vikings.png');
}

.Italians {
    background-image: url('/src/assets/civs/italians.png');
}

.Portuguese {
    background-image: url('/src/assets/civs/portos.png');
}